<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css" /> 
  </head>

  <body>
      <header class="header">

        <section class="top">
          
        <img src="/img/logo.svg" width="150px" height="80px" id="logo"> </img>

    
        <div class="buscador">
          
            <input id="imput" type="text" size="30" name="destinatario" placeholder="Buscar productos, marcas"></input>
        
            <label id="lupa" class="fas fa-search"> </label>
        </div>

    </section>

    <div>
        <p id="mano"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>

    </div>



    <div id="hambur" class="burger-menu" ;>
      <i class="fas fa-bars" style="background-color: darkblue; padding: 10px; border-style: groove;"></i>
      </div>

      <br>
    
    <nav id="mobile">
        <div class="middle">
        <ul type="none" class="middle2">
            
            <li> Ofertas​ </li>
            <br>
            <li> Tiendas Oficiales​ </li>
            <li> Vender​ </li>
            <li> Ayuda​​ </li>
        
        </ul>

        <ul type="none" class="middle3">
    
            <li> <a href="./register">   <span>Creá tu cuenta​​</span> <i class="fas fa-address-card"></i> </a> </li>  </li>

            <li> <a href="./login"> <span> Ingresá​</span> <i class="fas fa-sign-in-alt"></i> </a> </li>

            <li>  <span> Mis compras</span> <i class="fas fa-shopping-basket"></i> </li>
        </ul>
    </div>
    </nav>
    <br>
    
    
  </div>


 </header>
      <main id="main">
          
        <img  src="/img/banner.jpg" class="banner" width="100%" height="145px"> </img> 

          <h2 class="titulares"> Basado en tu última visita  </h2>
          <article class="flexcaja">
          <div id="caja">
        <img src="/img/cafetera.jpg" width="200px" height="150px" style="border-bottom: solid 1px gray;"> </img>
        <i class="fas fa-truck" class="logoenvio" style="color: green;margin-bottom: 10px"></i>
        
        <ul type="none" class="caja-flex">
          
            <li class="precios"> $6.770 </li>
            <li class="descuentos"> 40% off​ </li>
          
        </ul>
        <p class="descripciones"> Cafetera Moulinex </p>
          </div>

    <div id="caja">
      
      <img src="/img/mac.jpg" width="200px" height="150px" style="border-bottom: solid 1px gray;"> </img>
      <i class="fas fa-truck" style="color: green;margin-bottom: 10px"></i>
      <ul type="none" class="caja-flex">
          <li class="precios"> $230.000</li>
          <li class="descuentos"> 20% off​ </li>
      </ul>
        <p class="descripciones"> MacBook Pro 2019 </p>
    </div>

</article>

  
    <h2 class="titulares"> Sección de Ofertas  </h2>
    <article class="flexcaja">
 <div id="caja">
  <img src="/img/cel.jpg" width="200px" height="150px" style="border-bottom: solid 1px gray;"> </img>
  <i class="fas fa-truck" style="color: green;margin-bottom: 10px"></i>
  
  <ul type="none" class="caja-flex">
      <li class="precios"> $70.500 </li>
      <li class="descuentos"> 10% off​ </li>
      
  </ul>
  <p class="descripciones"> Samsung Galaxy S10 </p>

 </div>

<div id="caja">
    
  <img src="/img/tv.jpg" width="200px" height="150px" style="border-bottom: solid 1px gray;"> </img>
  <i class="fas fa-truck" style="color: green;margin-bottom: 10px;"></i>
  
  <ul type="none" class="caja-flex">
    
      <li class="precios"> $29.999 </li>
      <li class="descuentos"> 15% off​ </li>
      
  </ul>
  <p class="descripciones"> Samsung Smart TV </p>

</div>

</article>

      </main>
      
      <footer>
        <i class="fas fa-credit-card" style="color: rgb(52, 55, 202) ; font-size: 33px; margin-bottom: 10px; font-size: 2em;" ></i>
        <h3> Pagá con tarjeta o efectivo </h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift" style="color: rgb(52, 55, 202) ; font-size: 33px; margin-bottom: 10px; font-size: 2em;"></i>
        <h3>  Envío gratis desde $ 2.500 </h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield" style="color: rgb(52, 55, 202) ; font-size: 33px; margin-bottom: 10px; font-size: 2em;"></i>
        <h3> Seguridad, de principio a fin </h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
        <h5 class="foot"> Copyright © 1999-2020 MercadoLiebre S.R.L. </h5>
       

      </footer>
  </body>


  
  
      <!--
      <h1> Este es mi primer sitio </h1>
      <h4> Espero que sea genial </h4> 
      <h6> Sean bienvenidos </h6>
      <br>
      <p> <strong>Este es un párrafo </strong></p>
      <div>
        <label> Complete con nombre </label> 
        <input/> 
        <button> Presioname </button>
        <textarea></textarea>
      </div>
    -
    <ul type="disc">
        <li> Gatos </li>
        <li> Perros </li>
        <li> Loro </li>
    </ul>

    <ol>
        <li> Gerente </li>
        <ul>
            <li> Tipo 1</li>
            <li> Tipo 2</li>
            <li> Tipo 3</li>
        </ul>
        <li> Administrativo </li>
        <li> Servicio </li>
    </ol>

    <table border="12" cellpadding="50px" cellspacing="30px">

        <tr>
            <td> Opcion 1 </td>
            <td> Opcion 2 </td>
            <td> Opcion 3 </td>
        </tr>

        <tr>
            <td> Opcion 4 </td>
            <td> Opcion 5 </td>
            <td> Opcion 6 </td>
        </tr>

        <tr>
            <td> Opcion 7 </td>
            <td> Opcion 8 </td>
            <td> Opcion 9 </td>
        </tr>

    </table>


    <form>
        
        <label>Ingresa dni</label>
        <input />

        <label>Ingresa contraseña</label>
        <input/>
        
        <textarea> </textarea>

        <select>
            <option> opcion 1 </option>
            <option> opcion 2 </option>
            <option> opcion 3 </option>
        </select>
    </form>

    <a href="https://www.ole.com.ar"> <button> Entrar a sitio Ole </button></a>

    <img src="/img/messi.jpg" width="350px" height="200px"> </img>
    <video src="" controls> </video>
    <audio src="/audio/Down.mp3" controls></audio>
    <iframe src="https://www.ole.com.ar" width="600px" height="400px"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-So9LQNpD2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </body>
-->
</html>


